/** This is the main stylesheet for the sass compiler, all imports should stem from this initial page. It contains the universal styles of the site, the imports and various other items. */
/** The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar. */
header.menu { width: 100%; position: relative; z-index: 10; }

header.menu div.menu-container { width: 100%; background-color: black; padding: 0 20px; text-align: left; }

header.menu div.menu-container div.menu-holder { position: relative; width: 100%; max-width: 1280px; margin: 0 auto; }

header.menu div.menu-container h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 70px; color: white; text-align: left; display: inline-block; }

header.menu div.menu-container nav { display: inline-block; margin-left: 60px; }

header.menu div.menu-container nav i { color: white; font-size: 30px; line-height: 70px; }

header.menu div.menu-container nav i.search { position: absolute; right: 10px; top: 0; }

header.menu div.menu-container nav a.nav-item { font-family: Helvetica, Arial, Sans-Serif; font-size: 17px; line-height: 70px; text-transform: uppercase; text-decoration: none; white-space: nowrap; border-bottom: 1px solid transparent; color: #FFF; margin-right: 20px; }

header.menu div.search-container { position: absolute; background-color: white; z-index: 20; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; padding: 5px; background-color: white; border-bottom: 1px solid #CCC; display: none; }

header.menu div.search-container.showing { display: block; }

header.menu div.search-container input[type='text'] { min-width: 100%; font-size: 36px; line-height: 50px; border: 1px solid #CCC; padding: 0 10px; }

header.menu div.search-container i.close { position: absolute; right: 10px; top: 5px; font-size: 36px; line-height: 50px; }

/** This is the central home page */
section#home { color: #333; position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 136px 0 0; background-image: url("/img/header.jpg"); background-size: cover; background-repeat: no-repeat; }

section#home div.content { background: rgba(255, 255, 255, 0.85); margin: 0 auto; padding: 10px 20px; }

section#home div.itemCard { background: #fff; border: 1px solid #999; border-radius: 2px; margin: 10px; min-height: 250px; max-width: 600px; min-width: 300px; padding: 10px; width: 30%; }

section#home div.itemCard img { float: left; max-width: 80px; }

html, html * { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

main { width: 100%; height: 100%; display: block; position: relative; }

main * { -webkit-font-smoothing: antialiased; }

main a { -webkit-transition: opacity .5s; transition: opacity .5s; }

main a:hover { opacity: 0.7; }

main a:visited { color: inherit; }

main div.inner { width: 100%; height: auto; background-color: #960000; }

/*# sourceMappingURL=main.css.map */
