/**
 * This is the central home page
 *
 */
section#home {

    color: #333;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    padding: 136px 0 0;
    background-image: url('/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    div.content {
        background: rgba(255, 255, 255, 0.85);
        margin: 0 auto;
        padding: 10px 20px;
    }

    div.itemCard {
        background: #fff;
        border: 1px solid #999;
        border-radius: 2px;
        margin: 10px;
        min-height: 250px;
        max-width: 600px;
        min-width: 300px;
        padding: 10px;
        width: 30%;

        img {
            float: left;
            max-width: 80px;
        }
    }
}